<section
  class="Exsm:w-[300px] md:w-[500px] mx-auto bg-gray-100 border rounded shadow-lg p-4"
>
  <h1 class="font-light text-3xl text-[#241239] capitalize text-center">
    Verify_Code
  </h1>
  <form [formGroup]="VerfiyForm" (ngSubmit)="Submitform()">
    <div class="py-4 flex flex-wrap justify-center gap-4">
        <p-floatlabel variant="on">
            @let Verfiy = VerfiyForm.get("resetCode");
            <input
              pInputText
              id="resetCode"
              type="text"
              formControlName="resetCode"
              autocomplete="off"
              maxlength="6"
              class="block Exsm:w-[280px] md:w-[400px] md:py-2 md:px-4"
            />
            <label for="resetCode">resetCode</label>
          </p-floatlabel>
      @if (Verfiy?.errors && Verfiy?.touched) {
      <p-message severity="error">
        <ul class="Exsm:w-[200px] md:w-[340px]">
          @if (Verfiy?.getError("required")) {
          <li><i class="fa-solid fa-circle-info"></i> Code Is Required</li>
          }
        </ul>
      </p-message>
      }
    </div>
    <p-toast />
    <button type="submit" class="btn-main block ms-auto">Confirm</button> 
    <div class="md:flex md:items-center md:justify-between ">
      <a
    routerLink="/login"
    class="block py-4 px-1 text-gray-700 rounded-sm text-xl Exsm:text-end hover:underline md:text-end "  
    aria-current="page"
    >Back To Login</a
  >
    <a
    routerLink="/forgotpassword"
    class="block py-4 px-1 text-gray-700  rounded-sm text-xl Exsm:text-end hover:underline md:text-end "  
    aria-current="page"
    >Back To Forget</a
  >
    </div>
</form>
</section>
