<section
  class="Exsm:w-[300px] md:w-[500px] mx-auto bg-gray-100 border rounded shadow-lg p-4"
>
  <h1 class="font-light text-3xl text-[#241239] capitalize text-center">
    Forgot Password ?
  </h1>

  <form [formGroup]="ForgotForm" (ngSubmit)="SubmitForm()">
    <div class=" md:flex md:flex-wrap md:justify-center md:items-center  md:gap-4 md:py-3 Exsm:gap-2 Exsm:py-2">
      <p-floatlabel variant="on">
        @let EmailControl = ForgotForm.get("email");
        <input
          pInputText
          id="Email"
          type="Email"
          formControlName="email"
          autocomplete="off"
          class="block Exsm:w-[280px] md:w-[400px] md:py-2 md:px-4"
        />
        <label for="Email">Email</label>
      </p-floatlabel>
      @if (EmailControl?.errors && EmailControl?.touched) {
      <p-message severity="error">
        <ul class="Exsm:w-[200px] md:w-[340px]">
          @if (EmailControl?.getError("required")) {
          <li><i class="fa-solid fa-circle-info"></i> Email Is Required</li>
          } @else if (EmailControl?.getError("email")) {
          <li><i class="fa-solid fa-circle-info"></i> Enter Vaild Email</li>
          }
        </ul>
      </p-message>
      
      }
    </div>
      <div class="flex flex-col items-end">
        <button type="submit" class="btn-main">Send Code</button> 
        <a
            routerLink="/login"
            class="block py-4 px-3 text-gray-700 rounded-sm text-xl Exsm:text-end hover:underline md:text-end "  
            aria-current="page"
            >Back To Login</a
          >
           
      </div>

    
  </form>
  
</section>
