<section class="Exsm:w-[300px] md:w-[500px] mx-auto bg-gray-100 border rounded shadow-lg p-4">
  <h1 class="font-light text-3xl text-[#241239] capitalize text-center">
    Register Now :
  </h1>
  <form [formGroup]="registerForm" (ngSubmit)="SubmitForm()">
    <div class="card flex flex-wrap justify-center items-end gap-4 py-3">
      <!-- Name Field -->

      <p-floatlabel variant="on">
        @let NameControl = registerForm.get("name") ;
        <!--  -->
        <input
          pInputText
          id="name"
          formControlName="name"
          autocomplete="off"
          class="block Exsm:w-[280px] md:w-[400px] py-2 px-4"
        />
        <label for="name">Name</label>
      </p-floatlabel>
      @if (NameControl?.errors && NameControl?.touched ) {
      <p-message severity="error"
        ><ul class="Exsm:w-[230px] w-[370px]">
          @if (NameControl?.getError("required")) {
          <li><i class="fa-solid fa-circle-info"></i> Name Is Required</li>
          } @else if (NameControl?.getError("minlength")) {
          <li>
            <i class="fa-solid fa-circle-info"></i> Name should be between 3 At
            Least
          </li>
          } @else if (NameControl?.getError("maxlength")) {
          <li>
            <i class="fa-solid fa-circle-info"></i> Name should Less Than 15
            characters
          </li>
          }
        </ul></p-message
      >
      }
      <p-floatlabel variant="on">
        @let EmailControl = registerForm.get("email");
        <input
          pInputText
          id="Email"
          type="Email"
          formControlName="email"
          autocomplete="off"
          class="block Exsm:w-[280px] md:w-[400px] py-2 px-4"
        />
        <label for="Email">Email</label>
      </p-floatlabel>
      @if (EmailControl?.errors && EmailControl?.touched) {
      <p-message severity="error"
        ><ul class="Exsm:w-[230px] w-[370px]">
          @if (EmailControl?.getError("required")) {
          <li><i class="fa-solid fa-circle-info"></i> Email Is Required</li>
          } @else if (EmailControl?.getError("email")) {
          <li><i class="fa-solid fa-circle-info"></i> Enter Valid Email</li>
          }
        </ul></p-message
      >
      }
      <p-floatlabel variant="on">
        <!-- [toggleMask]="true"  HOW MAKE IT-->
        @let PasswordControl = registerForm.get("password");
        <input
          pInputText
          id="Password"
          type="Password"
          formControlName="password"
          autocomplete="off"
          class="tessst block Exsm:w-[280px] md:w-[400px]"
        />
        <label for="password">Password</label>
      </p-floatlabel>
      @if (PasswordControl?.errors && PasswordControl?.touched) {
      <p-message severity="error"
        ><ul class="Exsm:w-[230px] w-[370px]">
          @if (PasswordControl?.getError("required")) {
          <li><i class="fa-solid fa-circle-info"></i> password Is Required</li>
          } @else if (PasswordControl?.getError("pattern")) {
          <li><i class="fa-solid fa-circle-info"></i> Enter Valid password</li>
          <li><i class="fa-solid fa-circle-info"></i> Password Must Start with Letter And Min Length 8 </li>
          }
        </ul></p-message
      >
      }
      <p-floatlabel variant="on">
        <input
          pInputText
          id="RePassword"
          type="password"
          formControlName="rePassword"
          autocomplete="off"
          class="block Exsm:w-[280px] md:w-[400px] py-2 px-4"
        /><label for="RePassword">rePassword</label>
      </p-floatlabel>
      @if (registerForm.getError("mismatch")){
      <p-message severity="error">
        <ul class="Exsm:w-[230px] w-[370px]">
          <li>
            <i class="fa-solid fa-circle-info"></i> rePassword Is Not Correct
          </li>
        </ul></p-message
      >
      } @else if (registerForm.get("rePassword")?.getError("required")&&
      registerForm.get("rePassword")?.touched){
      <p-message severity="error">
        <ul class="Exsm:w-[230px] w-[370px]">
          <li>
            <i class="fa-solid fa-circle-info"></i> RePassword Is Required
          </li>
        </ul></p-message
      >
      }
      <p-floatlabel variant="on">
        @let PhoneControl = registerForm.get("phone");
        <input
          pInputText
          id="Phone"
          type="tel"
          formControlName="phone"
          autocomplete="off"
          class="block Exsm:w-[280px] md:w-[400px] py-2 px-4"
        />
        <label for="Phone">Phone</label>
      </p-floatlabel>
      @if (PhoneControl?.errors && PhoneControl?.touched) {
      <p-message severity="error"
        ><ul class="Exsm:w-[230px] w-[370px]">
          @if (PhoneControl?.getError("required")) {
          <li><i class="fa-solid fa-circle-info"></i> phone Is Required</li>
          } @else if (PhoneControl?.getError("pattern")) {
          <li><i class="fa-solid fa-circle-info"></i> Enter Egyptian Phone Number</li>
          }
        </ul></p-message
      >
      }
    </div>
    <button
      type="submit"
      class="btn-main Exsm:ms-auto w-[150px] sm:m-auto md:mx-[300px] block text-[15px] capitalize"
      [disabled]="isLoading"
    >
      signUp @if (isLoading) {
      <span><i class="fas fa-spin fa-spinner"></i></span>
      }
    </button>
    @if (ErrorMesg) {
    <p-message
      severity="error"
      class="block py-4 Exsm:w-[280px] md:w-[400px] text-center text-3xl"
      ><i class="fa-regular fa-circle-xmark"></i> {{ ErrorMesg }}</p-message>

    
    } @if (isSuccess) {
    <p-message
      severity="success"
      class="block py-4 Exsm:w-[280px] md:w-[400px] text-center text-3xl"
      ><i class="fa-solid fa-check"></i> {{ isSuccess }}</p-message
    >
    
    }
    <a
            routerLink="/login"
            class="block py-4 px-3 text-gray-700 rounded-sm text-xl hover:underline text-end" 
            aria-current="page"
            >Login</a
          >
  </form>
</section>
