<footer class="bg-[#0d1b2a] py-5 text-gray-300">
  <!-- <div class="">
        <h2 class="mb-2 h-4">Get The FreshCart App</h2>
        <p class="text-gray-400">We Will Send You a Link, Open it on Your Phone to download the app</p>
    </div>
    <div class="md:flex ">
        <input type="text" class="rounded mx-auto m-0 w-3/4" placeholder="Email">
        <button class="btn">Share App Link</button>
    </div>
    <div class="md:flex justify-around items-center my-10 ">
        <div class="flex  items-center gap-3">
            <h3>Payment partners </h3>
            <img src="/images/amazon-pay.png " class="w-[50px]" alt="">
            <img src="/images/American-Express-Color.png " class="w-[50px]" alt="">
            <img src="/images/paypal.png" class= "w-[50px]" alt="" />
            <img src="/images/mastercard.webp" class= "w-[50px]" alt="" />
        </div>

        <div class="flex  items-center gap-3 ">
            <h3>Get Deliveries with FreshCart</h3>
            <img src="/images/get-google-play.png" class="w-[100px]" alt="" />
            <img src="/images/get-apple-store.png" class="w-[100px]"  alt="" />
        </div>
    </div> -->
  <footer class="bg-main-light py-5">
    <div class="container">
      <h2 class="font-light text-gray-500 ">Get The FreshCart App</h2>
      <p class="text-lg small pt-2">
        We Will Send You a Link, Open it on Your Phone to download the app
      </p>

      <!-- inputs design  -->
      <div class="flex pt-2 gap-6  text-nowrap font-bold">
          <input
            pInputText
            placeholder="Email"
            class="w-[100%] "
          />
          <button class="btn-main mx-auto px-10 py-6">Share App Link</button>
     </div>

        <!-- footer payment Details Design  -->
        <div class=" md:flex md:justify-around md:items-center">
          <div class="flex items-center md:mt-4 Exsm:mt-5 Exsm:gap-[3px] ">
            <h3 class="text-xl px-3">Payment partners</h3>
            <img src="/images/amazon-pay.png" width="70px" alt="" />
            <img src="/images/American-Express-Color.png" width="70px" alt="" />
            <img src="/images/paypal.png" width="70px" alt="" />
            <img src="/images/mastercard.webp" width="70px" alt="" />
          </div>
          <div class="flex items-center Exsm:mt-5">
            <h3 class="text-xl px-3">Get Deliveries with FreshCart</h3>
            <img src="/images/get-google-play.png" width="100px" alt="" />
            <img src="/images/get-apple-store.png" width="100px" alt="" />
          </div>
        </div>
      </div>
  </footer>
</footer>
